<div class="product-view">
    <div class="product-img-section">
        <img class="arrow forward" src="assets/images/arrow-forward-circle.svg" alt="">
        <img class="arrow backward" src="assets/images/arrow-back-circle-sharp.svg" alt="">
        <img class="product-img" [src]="product.url" alt="">
    </div>
    <span class="price">RRP £{{product.price}}</span>
    <div class="product-desc">
        <span class="category">{{product.category}}</span>&nbsp;
        <span class="name">{{product.name}}</span>
    </div>
    <div class="product-size">Size {{product.size}}</div>
    <div class="rental-price">£{{product.rental}} Rental</div>
</div>